:root {
  --btn-orange: hsl(22, 89%, 52%);
  --btn-light-orange: hsl(22, 100%, 69%);
  --primary-dark-blue: hsl(220, 50%, 17%);
  --secondary-light-blue: hsl(221, 23%, 58%);
  --neutral-grey: hsl(198, 28%, 93%);
  --white: #fff;
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

#root,
#__next {
  isolation: isolate;
}

/* Styling */
h1 {
  font-size: 3rem;
  line-height: 1;
}

h2 {
  font-size: 2rem;
  line-height: 1.125;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.166;
}

a {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625;
  text-transform: uppercase;
  text-decoration: none;
}

p {
  color: var(--secondary-light-blue);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625;
}

.btn {
  border-radius: 0.5rem;
  padding: 0.688rem 0.875rem;
}

.f-weight-700 {
  font-weight: 700;
}

h1,
h2,
h3 {
  color: var(--primary-dark-blue);
  font-weight: 900;
  text-transform: uppercase;
}

h1,
h2,
h3,
p {
  font-family: "Barlow", sans-serif;
}

/* Header - 375px */
/* Placeholder */

/* Hero - 375px */
.hero__image img {
  border-radius: 1.25rem 0 0 1.25rem;
}

@media screen and (min-width: 64rem) {
  /* Styling */
  h1 {
    font-size: 3.5rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.444;
  }
}
